@import "./product-and-further-teasers.css";

:root {
  --color-grayscale-base: #6d757c;
  --color-grayscale-superlight: #F2F3F4;
  --color-grayscale-superlight-transparent: rgba(242,243,244,0.8);
  --color-grayscale-lightest: #eaebec;
  --color-grayscale-lighter: #D5D8DA;
  --color-grayscale-darkish: #4E5761;
  --color-grayscale-website-background: #fafafa;
  --color-basic-white: #ffffff;
  --color-basic-black: #000000;
  --color-brand-primary-base: #0076BF;
  --color-brand-primary-darker: #06507f;
  --color-brand-primary-darkest: #054066;
}

@font-face {
  font-family: "LidlFontCondPro";
  src: url("../fonts/LidlFontCondPro-Regular.woff") format('woff');
}

@font-face {
  font-family: "LidlFontCondProBold";
  src: url("../fonts/LidlFontCondPro-Bold.woff") format('woff');
  font-weight: bold;
}

@font-face {
  font-family: "LidlFontCondProSemibold";
  src: url("../fonts/LidlFontCondPro-Semibold.woff") format('woff');
  font-weight: lighter;
}

@media (max-width: 943px) {
  .mobile-hidden {
    display: none !important;
  }

  .mobile-display {
    display: block;
  }
}

@media (min-width: 944px) {
  .desktop-hidden {
    display: none;
  }
}

body {
  margin: 0;
  background-color: var(--color-grayscale-website-background);
  font-family: LidlFontCondPro;
}

a:hover {
  cursor: pointer;
}

button {
  height: 48px !important;
}

button:hover {
  cursor: pointer;
}

.container-nav {
  width: 100%;
  max-width: 1280px;
  margin-left: auto;
  margin-right: auto;
}

.container {
  width: 100%;
  max-width: 1180px;
  margin-left: auto;
  margin-right: auto;
}

button.gradient {
  background-image: linear-gradient(to bottom, var(--color-brand-primary-base) 0%, var(--color-brand-primary-darkest) 100%);
}

.nav-bar {
  background-color: var(--color-basic-white);
}

.lidl-icon-desktop {
  position: absolute;
  top: 8px;
  padding-left: calc(32px + ((100vw - 32px - 1280px) / 2));
  box-shadow: 0 3px 3px 0 rgba(0,0,0,.15);
}

.lidl-icon-mobile {
  padding: 8px;
}

.mobile-nav-bar {
  display: flex;
  justify-content: space-between;
  height: 54px;
  box-shadow: 0 3px 3px 0 rgba(0,0,0,.15);
}

.mobile-nav-bar-icon-wrapper {
  display: flex;
  padding-right: 12px;
}

.mobile-nav-bar-icon {
  padding-top: 12px;
  padding-left: 20px !important;
}

.top-nav-bar {
  height: 32px;
  display: flex;
  align-items: center;
  background-color: var(--color-grayscale-base);
  color: var(--color-basic-white);
  padding-left: 200px;
  padding-right: 16px;
}

.top-nav-bar .nav-item {
  padding-left: 32px;
}

.middle-nav-bar {
  height: 64px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: auto;
  padding-left: 200px;
  padding-right: 16px;
}

.middle-nav-bar .search-field {
  height: 44px;
  width: 256px;
  padding-left: 16px;
  border: 1px solid var(--color-basic-black);
}

.middle-nav-bar .search-field-button {
  width: 48px;
  border: 0px;
}

.image-action {
  display: flex;
  flex-direction: column;
  padding-left: 24px;
}

.image-action img {
  margin-left: auto;
  margin-right: auto;
}

.bottom-nav-bar {
  box-shadow: 0 3px 3px 0 rgba(0,0,0,.15);
  padding-left: 16px;
  padding-right: 16px;
}

ul.bulletless {
  display: flex;
  flex-wrap: wrap;
  padding-left: 0;
  list-style-type: none;
}

ul.bulletless.main {
  border-bottom: 1px solid var(--color-grayscale-lightest);
}

ul.bulletless.sub {
  margin-bottom: 0px;
}

ul.bulletless.main li {
  font-size: 1.5rem;
  padding-bottom: 16px;
  padding-right: 24px;
}

ul.bulletless.main li a.selected {
  color: var(--color-brand-primary-darker);
  border-bottom: 4px solid;
  padding-bottom: 4px;
}

ul.bulletless.sub li {
  font-size: 1.5rem;
  padding-bottom: 16px;
  padding-right: 24px;
}

ul.bulletless li a.selected {
  color: var(--color-brand-primary-darker);
  border-bottom: 4px solid;
  padding-bottom: 12px;
}

.level-nav-bar {
  display: flex;
  height: 60px;
  align-items: center;
}

.home-icon {
  padding-right: 8px;
}

.level-item {
  padding-right: 16px;
}

.level-item.selected {
  color: var(--color-brand-primary-darker);
  font-family: LidlFontCondProBold;
}

.search-form-section {
  height: 725px;
  margin-bottom: 64px;
}

.search-form-background-image {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100%;
  background-image: url("./../assets/search-form-background-image.jpg");
  position: relative;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.search-form-palmes {
  padding-top: 40px;
}

.search-form-header-text {
  color: var(--color-basic-white);
  font-size: 3.5rem;
  font-weight: bold;
  line-height: 4.4rem;
  display: block;
  padding-top: 32px;
}

.search-form-mobile-button {
  width: 300px;
  margin-top: 16px;
  font-size: 1rem;
  color: var(--color-basic-white);
  text-transform: uppercase;
  position: relative;
  left: calc(50% - 150px);
}

@media (max-width: 943px) {
  .search-form-section {
    height: auto;
    margin-bottom: 32px;
  }

  .search-form-background-image {
    height: 200px;
  }

  .search-form-header-text {
    font-size: 1.5rem;
    line-height: 2rem;
    position: absolute;
    bottom: 16px;
    padding-left: 8px;
  }
}


.search-form-background {
  height: 200px;
  background-color: var(--color-grayscale-darkish);
  opacity: 0.9;
}

.search-form-items-wrapper {
  display: flex;
  margin-top: 40px;
}

.search-form-input-header {
  color: var(--color-basic-white);
}

.search-form-item-wrapper {
  width: calc(18%);
  margin-right: 24px;
}

.search-form-select {
  -moz-appearance: none;
  -webkit-appearance: none;
  height: 46px;
  width: calc(100% + 8px);
  margin-top: 8px;
  background-color: var(--color-basic-white);
  border-radius: 0px;
  background-image: url("./../icons/chevron-down.svg");
  background-position: calc(100% - 16px);
  background-size: 16px;
  background-repeat: no-repeat;
  padding-left: 16px;
  font-size: 1rem;
  /* color: var(--color-brand-primary-base); */  /* ?? how to highlight selected state?*/  
}

.search-form-select::-ms-expand {
  display: none
}

.search-form-select-option {
  background-color: var(--color-basic-white);
  height: 40px;
  width: 100%;
  border-radius: 0px;
}

.search-form-input {
  height: 40px;
  width: calc(100% - 16px);
  margin-top: 8px;
  padding-left: 16px;
  font-size: 1rem;
}

.search-form-item-wrapper.submit-button {
  height: 46px;
  align-self: flex-end;
}

.search-form-submit-button {
  height: 100%;
  width: 100%;
  border: 0px;
  text-transform: uppercase;
  color: var(--color-basic-white);
  font-weight: bold;
}

.search-form-more-filters {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  margin-top: 32px;
}

.search-form-more-filters > span {
  color: var(--color-basic-white);
  text-decoration: underline;
  padding-right: 8px;
}

.seo-text {
  text-align: center;
  line-height: 1.6rem;
  font-size: 1.1rem;
  margin: 0 20%;
}

.section-header-wrapper {
  display: block;
  overflow: hidden;
  text-align: center;
  margin-bottom: 16px;
  margin-right: 8px;
  margin-left: 8px;
}

.section-header {
  position: relative;
  display: inline-block;
  max-width: 26rem;
  font-size: 1.25rem;
  font-weight: 700;
  line-height: 1.2em;
  text-transform: uppercase;
}

.section-header::before {
  position: absolute;
  content: "";
  border-top: 2px solid var(--color-grayscale-lighter);
  left: -100vw;
  right: calc(100% + 24px);
  bottom: 2px;
}

.section-header::after {
  position: absolute;
  content: "";
  border-top: 2px solid var(--color-grayscale-lighter);
  right: -100vw;
  left: calc(100% + 24px);
  bottom: 2px;
}

@media (max-width: 943px) {  
  .section-header::before {
    right: calc(100% + 8px);
  }

  .section-header::after {
    left: calc(100% + 8px);
  }
}

.category-teaser-slide-wrapper {
  padding: 8px;
  height: 600px;
}

.category-teaser-image {
  width: 100%;
  height: 100%;
}

.category-teaser-slide {
  height: 100%;
  box-shadow: 0 2px 4px rgba(0,0,0,.15);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

.category-teaser-slide.one {
  background-image: url("../assets/category/category_teaser_01.jpg");
}
.category-teaser-slide.two {
  background-image: url("../assets/category/category_teaser_02.jpg");
}
.category-teaser-slide.three {
  background-image: url("../assets/category/category_teaser_03.jpg");
}
.category-teaser-slide.four {
  background-image: url("../assets/category/category_teaser_04.jpg");
}
.category-teaser-slide.five {
  background-image: url("../assets/category/category_teaser_05.jpg");
}
.category-teaser-slide.six {
  background-image: url("../assets/category/category_teaser_06.jpg");
}

.further-product-teaser-title,
.category-teaser-slide-title {
  display: flex;
  align-items: center;
  position: relative;
  top: calc(600px - 32px - 64px);
  height: 64px;
  background-color: var(--color-grayscale-superlight-transparent);
  padding-left: 16px;
  font-size: 1.2rem;
}

.further-product-teaser-title {
  top: calc(290px - 32px - 64px);
}

/* SLICK */

.slick-prev,
.slick-next
{
  font-size: 1rem;
  width: 32px;
  height: 64px;
  box-shadow: 0 4px 4px rgba(0,0,0,.15);
  background-color: var(--color-basic-white);
  color: black;
}

.slick-prev {
  left: -3%;
}

.slick-next {
  right: -3%;
}

.slick-prev:before,
.slick-next:before
{
    font-size: 0px; /* removes weird space above chevrons */
    line-height: 0; /* removes weird space above chevrons */
}

.slick-dots li button:before {
  font-size: 10px;
}

.slick-dots li.slick-active button:before {
  color: var(--color-brand-primary-base);
}

/* GENERAL */

.pt-8 {
  padding-top: 8px;
}

.pt-16 {
  padding-top: 16px;
}

.mb-8 {
  margin-bottom: 8px;
}

.mb-32 {
  margin-bottom: 32px;
}

.mb-40 {
  margin-bottom: 40px;
}

.mb-64 {
  margin-bottom: 64px;
}

.mb-128 {
  margin-bottom: 128px;
}
.w-100 {
  width: 100%;
}

.d-flex {
  display: flex;
}

.justify-content-between {
  justify-content: space-between;
}
