:root {
  --color-grayscale-base: #6d757c;
  --color-grayscale-lightest: #eaebec;
  --color-grayscale-website-background: #fafafa;
  --color-basic-white: #ffffff;
  --color-basic-black: #000000;
  --color-brand-primary-base: #0076BF;
  --color-brand-primary-darker: #06507f;
  --color-brand-primary-darkest: #054066;
}

@font-face {
  font-family: "LidlFontCondPro";
  src: url("../fonts/LidlFontCondPro-Regular.woff") format('woff');
}

@font-face {
  font-family: "LidlFontCondPro";
  src: url("../fonts/LidlFontCondPro-Bold.woff.woff") format('woff');
  font-weight: bold;
}

@font-face {
  font-family: "LidlFontCondPro";
  src: url("../fonts/LidlFontCondPro-Semibold.woff.woff") format('woff');
  font-weight: lighter;
}

body {
  margin: 0;
  background-color: var(--color-grayscale-website-background);
  font-family: LidlFontCondPro;
}

a {
  cursor: pointer;
}

.container {
  width: 100%;
  max-width: 1280px;
  margin-left: auto;
  margin-right: auto;
}

.top-nav-bar {
  height: 32px;
  display: flex;
  align-items: center;
  background-color: var(--color-grayscale-base);
  color: var(--color-basic-white);
}

.top-nav-bar .nav-item {
  padding-left: 32px;
}

.middle-nav-bar {
  height: 64px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.middle-nav-bar .search-field {
  height: 44px;
  padding-top: 0px;
  padding-bottom: 0px;
  width: 256px;
  padding-left: 16px;
}

.middle-nav-bar .search-field-button {
  width: 48px;
  border: 0px;
  background-image: linear-gradient(to bottom, var(--color-brand-primary-base) 0%, var(--color-brand-primary-darkest) 100%);
}

.image-action {
  display: flex;
  flex-direction: column;
  padding-left: 24px;
}

.image-action img {
  margin-left: auto;
  margin-right: auto;
}

.bottom-nav-bar {
  box-shadow: 0 3px 3px 0 rgba(0,0,0,.15)
}

ul.bulletless {
  display: flex;
  flex-wrap: wrap;
  padding-left: 0;
  list-style-type: none;
}

ul.bulletless.main {
  border-bottom: 1px solid var(--color-grayscale-lightest);
}

ul.bulletless li {
  font-size: 1.5em;
  padding-bottom: 16px;
  padding-right: 24px;
}

ul.bulletless li a.selected {
  color: var(--color-brand-primary-darker);
  border-bottom: 4px solid;
}

.pt-8 {
  padding-top: 8px;
}

.d-flex {
  display: flex;
}

.justify-content-between {
  justify-content: space-between;
}
