:root {
  --color-grayscale-base: #6d757c;
  --color-grayscale-lightest: #eaebec;
  --color-grayscale-lighter: #D5D8DA;
  --color-grayscale-darkish: #4E5761;
  --color-grayscale-website-background: #fafafa;
  --color-basic-white: #ffffff;
  --color-basic-black: #000000;
  --color-brand-primary-base: #0076BF;
  --color-brand-primary-darker: #06507f;
  --color-brand-primary-darkest: #054066;
}

@font-face {
  font-family: "LidlFontCondPro";
  src: url("../fonts/LidlFontCondPro-Regular.woff") format('woff');
}

@font-face {
  font-family: "LidlFontCondProBold";
  src: url("../fonts/LidlFontCondPro-Bold.woff") format('woff');
  font-weight: bold;
}

@font-face {
  font-family: "LidlFontCondProSemibold";
  src: url("../fonts/LidlFontCondPro-Semibold.woff") format('woff');
  font-weight: lighter;
}

body {
  margin: 0;
  background-color: var(--color-grayscale-website-background);
  font-family: LidlFontCondPro;
}

a {
  cursor: pointer;
}

button.gradient {
  background-image: linear-gradient(to bottom, var(--color-brand-primary-base) 0%, var(--color-brand-primary-darkest) 100%);
}

.container-nav {
  width: 100%;
  max-width: 1280px;
  margin-left: auto;
  margin-right: auto;
}

.container {
  width: 100%;
  max-width: 1180px;
  margin-left: auto;
  margin-right: auto;
}

.nav-bar {
  background-color: var(--color-basic-white);
}

.top-nav-bar {
  height: 32px;
  display: flex;
  align-items: center;
  background-color: var(--color-grayscale-base);
  color: var(--color-basic-white);
}

.top-nav-bar .nav-item {
  padding-left: 32px;
}

.middle-nav-bar {
  height: 64px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.middle-nav-bar .search-field {
  height: 44px;
  width: 256px;
  padding-left: 16px;
  border: 1px solid var(--color-basic-black);
}

.middle-nav-bar .search-field-button {
  width: 48px;
  border: 0px;
}

.image-action {
  display: flex;
  flex-direction: column;
  padding-left: 24px;
}

.image-action img {
  margin-left: auto;
  margin-right: auto;
}

.bottom-nav-bar {
  box-shadow: 0 3px 3px 0 rgba(0,0,0,.15)
}

ul.bulletless {
  display: flex;
  flex-wrap: wrap;
  padding-left: 0;
  list-style-type: none;
}

ul.bulletless.main {
  border-bottom: 1px solid var(--color-grayscale-lightest);
}

ul.bulletless.sub {
  margin-bottom: 0px;
}

ul.bulletless.main li {
  font-size: 1.5em;
  padding-bottom: 16px;
  padding-right: 24px;
}

ul.bulletless.main li a.selected {
  color: var(--color-brand-primary-darker);
  border-bottom: 4px solid;
  padding-bottom: 4px;
}

ul.bulletless.sub li {
  font-size: 1.5em;
  padding-bottom: 16px;
  padding-right: 24px;
}

ul.bulletless li a.selected {
  color: var(--color-brand-primary-darker);
  border-bottom: 4px solid;
  padding-bottom: 12px;
}

.level-nav-bar {
  display: flex;
  height: 60px;
  align-items: center;
}

.home-icon {
  padding-right: 8px;
}

.level-item {
  padding-right: 16px;
}

.level-item.selected {
  color: var(--color-brand-primary-darker);
  font-family: LidlFontCondProBold;
}

.search-form-section {
  height: 725px;
  max-height: 725px;
}

.search-form-background-image {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100%;
  background-image: url("./../assets/blank_img.png");
  position: relative;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.search-form-palmes {
  padding-top: 40px;
}

.search-form-header-text {
  color: var(--color-basic-white);
  font-size: 3.5em;
  font-weight: bold;
  line-height: 1.4em;
  display: block;
  padding-top: 32px;
}

.search-form-background {
  height: 200px;
  background-color: var(--color-grayscale-darkish);
  opacity: 0.9;
}

.search-form-items-wrapper {
  display: flex;
  margin-top: 40px;
}

.search-form-input-header {
  color: var(--color-basic-white);
}

.search-form-item-wrapper {
  width: calc(18%);
  margin-right: 24px;
}

.search-form-select {
  -moz-appearance: none;
  -webkit-appearance: none;
  height: 46px;
  width: calc(100% + 8px);
  margin-top: 8px;
  background-color: var(--color-basic-white);
  border-radius: 0px;
  background-image: url("./../icons/chevron-down.svg");
  background-position: calc(100% - 16px);
  background-size: 16px;
  background-repeat: no-repeat;
  padding-left: 8px;
  font-size: 1em;
  /* color: var(--color-brand-primary-base); */  /* ?? */  
}

.search-form-select::-ms-expand {
  display: none
}

.search-form-select-option {
  background-color: var(--color-basic-white);
  height: 40px;
  width: 100%;
  border-radius: 0px;
}

.search-form-input {
  height: 40px;
  width: calc(100% - 16px);
  margin-top: 8px;
  padding-left: 16px;
  font-size: 1em;
}

.search-form-item-wrapper.submit-button {
  height: 46px;
  align-self: flex-end;
}

.search-form-submit-button {
  height: 100%;
  width: 100%;
  border: 0px;
  text-transform: uppercase;
  color: var(--color-basic-white);
  font-weight: bold;
}

.search-form-more-filters {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  margin-top: 32px;
}

.search-form-more-filters > span {
  color: var(--color-basic-white);
  text-decoration: underline;
  padding-right: 8px;
}

.seo-text {
  text-align: center;
  margin: 0 20%;
  margin-top: 64px;
}

.section-header-wrapper {
  display: block;
  overflow: hidden;
  text-align: center;
  margin-top: 64px;
  margin-bottom: 16px;
}

.section-header {
  position: relative;
  display: inline-block;
  max-width: 26em;
  font-size: 1.25rem;
  font-weight: 700;
  line-height: 1.2;
  text-transform: uppercase;
}

.section-header::before {
  position: absolute;
  content: "";
  border-top: 2px solid var(--color-grayscale-lighter);
  left: -40vw;
  right: calc(100% + 24px);
  bottom: 2px;
}

.section-header::after {
  position: absolute;
  content: "";
  border-top: 2px solid var(--color-grayscale-lighter);
  right: -40vw;
  left: calc(100% + 24px);
  bottom: 2px;
}

.pt-8 {
  padding-top: 8px;
}

.w-100 {
  width: 100%;
}

.d-flex {
  display: flex;
}

.justify-content-between {
  justify-content: space-between;
}
